.post_div{
	position:relative;
	height: 100px;
	width: 450px;
	top:100px;
	border:1px solid black;
	left:200px;
}

textarea{
	resize:none;
}

.post_home{
	position: absolute;
	top:20%;
	left: 15px;
	font-family: Courier New;
}



.home_status_post{
	height: 30px;
	width:60px;
	border:2px solid #DCDCDC;
	position: absolute;
	top: 90%;
	left: 70%;
}
input.home_status_post:hover{
	border-color: #FF0000;
}

.status{
	position: relative;
	top:150px;

}

.post_username{
	position: relative;
	top:150px;
}

.chat_box{
	height: 90%;
	width: 15%;
	position: fixed;
	left:84%;
	top: 10%;
	border: 1px solid black;
	overflow: scroll;
}